*{margin: 0; padding: 0;}
.mainWrapper{width: 1298px; margin: 0 auto;}

.periodicBlock{width: 70px; height: 75px; background-color: #cccccd; float:left;}
.element{border: 1px solid white}
.empty{background-color: white; border: 1px solid white}

.atomicSymbol, .atomicWeight, .atomicName{text-align: center;}
.atomicWeight{width: 100%; display: block;}
.breaker{float:left}


.nobleGas{background-color: #70359f;}
.alkaliMetals{background-color: #cc3c5c;}
.alkaliEarthMetals{background-color: #17a347;}
.halogens{background-color: #96cedd;}
.lanthanoids{background-color: #b2a3c7;}
.actinoids{background-color: #e36d22;}
.transitionMetals{background-color: #1db2ee;}
.poorMetals{background-color: #36849b;}
.otherNonMetals{background-color: #fec02d;}
.metalloids{background-color: #bf0711;}

.arrow{transition: all 1s; -webkit-transition: all 1s}
.hiddenArrow{opacity: 0;}
.infoWrapper{max-height: 0px; overflow:hidden; transition: all 1s; -webkit-transition: all 1s}
.infoOpen{max-height: 500px;}

.arrow-up {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid black;
}
.arrow-down {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;

	border-top: 5px solid black;
}



.periodicInnerWrap{position: absolute; width: 650px; background-color: white; height: 500px;
  left: 50%;
   margin-left: -325px;}
.dropDownHeader{text-align: center; background-color: gray; padding-top: 10px; padding-bottom: 10px; margin-top: 10px; margin-bottom: 10px;}
